@import url(../colors.css);

/* button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #var(--secondary-color);
    border:  none;
    border-radius: 20px;
    height: 2em;
    width: 10em;
    cursor: pointer;
    display: block;
    margin-top: 1em;
} */

.Button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--secondary-color);
    border:  none;
    border-radius: 20px;
    height: 2em;
    width: 10em;
    cursor: pointer;
    display: block;
    margin-top: 1em;
  }
  .Button:hover {
    background-color: var(--light-color);
  }
  .Button.large {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--secondary-color);
    border:  none;
    border-radius: 1rem;
    height: 5rem;
    width: 20rem;
    cursor: pointer;
    display: block;
    margin-top: 1em;
    font-size: 2rem;
  }
  .Button.large:hover {
    background-color: var(--light-color);
  }

  .Button.active {
    background-color: var(--light-color);
  }