footer {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3333;

}

footer img {
    position: relative;
    width: 200px;
    margin: 0;
    padding: 0;
  }
  