footer {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3333;

}

footer img {
    position: relative;
    width: 200px;
    margin: 0;
    padding: 0;
  }
  
a {
    text-decoration: none;
    color: #E7F6F2;
}

a:visited {
    text-decoration: none;
    color: #E7F6F2;
}