@import url(../colors.css);

#howto_main_div {
    background-color: var(--primary-color);
    height: 20vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #howto_choosecategory_div, #howto_thinkabouthwattoeat_div, #howto_addtoplanner_div, #howto_printout_div{
    height: 200px;
    width: 200px;
    background-color: var(--secondary-color);
  }
  
  #howto_choosecategory_div:hover, #howto_thinkabouthwattoeat_div:hover, #howto_addtoplanner_div:hover, #howto_printout_div:hover {
    height: 200px;
    width: 200px;
    background-color: var(--light-color);;
    color: black
  }
