.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
nav {
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
 nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 3.5rem;
  }
  
nav li a {
  text-decoration: none;
  color: #E7F6F2;
  font-weight: bold;
}

nav li a:visited {
  text-decoration: none;
}