@import url(../colors.css);

section {
        height: 10vh;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
}
.recipefinder_div {
    background-color: var(--primary-color) ;
}
.recipefinder_div_categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1em auto;
} 
.recipefinder_div_categories p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}
.recipefinder_div_categories button {
    font-weight: bold;
    font-size: 1rem;
    height: 3rem;
    margin: 1rem;
}
.recipefinder_div_categories input {
    position: absolute;
    margin-top: 5rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    width: 50rem;
    height: 3rem;
    color: black;
    font-size: 2rem;
}

.recipefinder_div_categories button {
  text-transform: uppercase ;
} 



input:active {
    border: none;
}
#recipefinder {
    height: auto;
}
#thumbnails_filter {
margin-top: 2rem;
display: flex;
flex-wrap: wrap;
flex: 0 0 12.5%;
background-color: var(--primary-color)
;}